[Unit]
Description=fake-flipctl kiosk (groups node server + wayland cage)
Requires=fake-flipctl-node-server.service
After=fake-flipctl-node-server.service
Wants=fake-flipctl-wayland-cage.service

[Install]
WantedBy=multi-user.target
