[Unit]
Description=Switch to flipctl2
After=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/flipperone-testing/fake-flipctl2/switcher/switch_to_fake-flipctl2.sh

[Install]
WantedBy=multi-user.target
