[Desktop Entry]
Type=Application
Name=Run Test 5 Minutes
Exec=konsole --hold -e bash -c 'cd /home/radxa/rk3576-linux-tests && ./start-tests.sh --all --time 5 --auto-report-open'
Icon=utilities-system-monitor
Terminal=false
Categories=System;